<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加学生成功</title>

    <link href="../css/bootstrap.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container text-center">
    <form role="form" class="form-horizontal text-center">
        <div class="form-group">
            <label class="checkbox-inline">
                学生<%= name%>被添加成功!
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-5">
                <button type="button"class="btn btn-default">返回主菜单</button>
            </div>
        </div>

    </form>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/addSuccess.js"></script>
</body>
</html>