<form role="form" name="form" class="form-horizontal text-center" >
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label ">姓名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="请输入至少两个汉字的名字">
        </div>
        <p></p>
    </div>
    <div class="form-group">
        <label for="nationality" class="col-sm-2 control-label ">民族</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nationality" name="nationality" placeholder="请输入民族">
        </div>
    </div>
    <div class="form-group">
        <label for="klass" class="col-sm-2 control-label ">班级</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="klass" name="klass" placeholder="请输入班级">
        </div>
    </div>
    <div class="form-group">
        <label for="math" class="col-sm-2 control-label ">数学</label>
        <div class="col-sm-10">
            <input type="text" class="form-control score" id="math" name="math" placeholder="请输入0~99的分数">
        </div>
        <p></p>
    </div>
    <div class="form-group">
        <label for="chinese" class="col-sm-2 control-label ">语文</label>
        <div class="col-sm-10">
            <input type="text" class="form-control score" id="chinese" name="chinese" placeholder="请输入0~99的分数">
        </div>
        <p></p>
    </div>
    <div class="form-group">
        <label for="english" class="col-sm-2 control-label ">英语</label>
        <div class="col-sm-10">
            <input type="text" class="form-control score" id="english" name="english" placeholder="请输入0~99的分数">
        </div>
        <p></p>
    </div>
    <div class="form-group">
        <label for="programing" class="col-sm-2 control-label ">编程</label>
        <div class="col-sm-10">
            <input type="text" class="form-control score" id="programing" name="programing" placeholder="请输入0~99的分数">
        </div>
        <p></p>
    </div>

</form>